.footer{
    color: #d9d9d9;
    background-color: #323232;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;

}
.footer-content {
    padding-top: 50px;
    display: flex;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left,.footer-content-center,.footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}
.footer-content-right ul,.footer-content-center ul{
  padding:0px;    
}
.footer-content-left li,.footer-content-center li,.footer-content-right li{
 list-style: none;
 margin-bottom: 10px;
 cursor: pointer;
 padding:10px;
}
.footer-content-right h2,.footer-content-center h2{
width:15rem;
margin-right: 15px;
color: #fff;
font-size: 30px;

}
.footer-content-left>img{
width:150px;
height:30px;
}
.footer-social-icons img {
    width: 2.5rem;
    margin-right: 15px;
    cursor: pointer;
}

.footer hr{
    width: 100%;
    height:2px;
    margin: 20px 0;
    border: none;
    background-color: grey;
}
@media(max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;

    }
    .footer-copyright{
        text-align: center;
    }
   .footer-content-center li{
    padding: 5px;
   }
   .footer-content-right li{
    padding: 5px;
   }
}